<head>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>

<center>
    <h1 class='title'>Hotel Help</h1>
    <br></br>
    <p1 class="names">by Bryce, Emanuel, Himanish</p1>
    <br></br>
    <br></br>
    <br></br>
    <form action="/chosen" method="POST">
        <label class="title" for="query">What infomation would you like?</label>
        <select class="sel" name="query">
            <option value="" selected>Select an option</option>
            <option value="meals">Meal Plan Infomation</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
        </select>

        <button type="submit">Search</button>
    </form>
</center>