<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<center>
    <h1 class='title'>Hotel Help</h1>
    <p1 class="names">by Bryce, Emanuel, Himanish</p1>
    <br></br>
    <br></br>
    <br></br>
    <form action="/chosen" method="POST">
        <label class="title" for="query">What infomation would you like?</label>
        <br></br>
        <select class="sel" name="query">
            <option value="" selected>Select an option</option>
            <option value="meals">Meal Plan Infomation</option>
            <option value="meals_continued">Meal Plan Continued</option>
            <option value="Adult">Adult Visitor </option>
            <option value="overview">Overview Dashboard</option>
        </select>

        <br></br>
        <!-- <button type="submit">Search</button> -->
        <button class="button-33" role="button" type="submit">Select</button>

    </form>
</center>